@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Hitasp.HitCommerce.Core.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Hitasp.HitCommerce.Core.Web.Pages.Core.Addresses
@using Hitasp.HitCommerce.Core.Addresses;
@using System.Globalization
@inject IHtmlLocalizer<CoreResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Core/Addresses/CreateModal" autocomplete="off">
    <abp-modal>
        <abp-modal-header title="@L["NewAddress"].Value"></abp-modal-header>

        <abp-modal-body>
            
            <abp-input asp-for="Address.ContactName"/>

            <abp-input asp-for="Address.Phone"/>

            <abp-input asp-for="Address.AddressLine1"/>

            <abp-input asp-for="Address.AddressLine2"/>

            <abp-input asp-for="Address.ZipOrPostalCode"/>

            <div class="form-group">
                <label for="Address_CountryId">@L["Country"]</label>
                <select id="Address_CountryId"
                        class="custom-select form-control"
                        name="Address.CountryId"
                        data-value="@Model.Address.CountryId" required>
                </select>
            </div>
<div class="form-group">
                <label for="Address_StateOrProvinceId">@L["StateOrProvince"]</label>
                <select id="Address_StateOrProvinceId"
                        class="custom-select form-control"
                        name="Address.StateOrProvinceId"
                        data-value="@Model.Address.StateOrProvinceId" required>
                </select>
            </div>
<div class="form-group">
                <label for="Address_CityId">@L["City"]</label>
                <select id="Address_CityId"
                        class="custom-select form-control"
                        name="Address.CityId"
                        data-value="@Model.Address.CityId" >
                </select>
            </div>
<div class="form-group">
                <label for="Address_DistrictId">@L["District"]</label>
                <select id="Address_DistrictId"
                        class="custom-select form-control"
                        name="Address.DistrictId"
                        data-value="@Model.Address.DistrictId" >
                </select>
            </div>

        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>